<hr>
<footer id="footer" class="padding-small">
	<div class="footer-section">
		<div class="plantmee-logo-entire">
			<img class="plantmee-image" src="../images/Logo-PlantMee.jpg" alt="plantmee-logo">
			<p class="plantmee-logo plantmee-logo-1">Plant</p>
			<p class="plantmee-logo plantmee-logo-2">Mee</p>
		</div>
	
		<div class="link-without-function">
			<ul>
				<li class="link-without-function-item"><a href="faq.html">FAQ</a></li>
				<li class="link-without-function-item"><a href="agb.html">AGB</a></li>
				<li class="link-without-function-item"><a href="datenschutz.html">Datenschutz</a></li>
				<li class="link-without-function-item"><a href="versand.html">Versand & Rückgabe</a></li>
				<a href="impressum.html" class="link-without-function-item">Impressum</a>
			</ul>
		</div>
		<br><br><br><br>
	
		<div class="footer-contact">
			<p>Kontaktieren Sie uns:</p>
			<p>Telefon: 06322 123456789</p>
			<p>E-Mail: info@plantmee.de</p>
		</div>
	
		<div class="footer-social-media">
			<p>Folgen Sie uns:</p>
			<ul>
				<li><a class="logo-item" href="https://www.facebook.com/" target="_blank"><img src="../images/Facebook-Logo.jpg" alt="Facebook">Facebook</a></li>
				<li><a class="logo-item" href="https://x.com/" target="_blank"><img src="../images/X-Logo.jpg" alt="X (ehem. Twitter)">X (ehem. Twitter)</a></li>
				<li><a class="logo-item" href="https://www.instagram.com/" target="_blank"><img src="../images/Instagram-Logo.webp" alt="Instagram">Instagram</a></li>
			</ul>
		</div>
	
		<div class="footer-newsletter">
			<p>Melden Sie sich für unseren Newsletter an:</p>
			<form>
				<input type="email" name="email" placeholder="Ihre E-Mail-Adresse">
				<button type="submit">Anmelden</button>
			</form>
		</div>
	
		<div class="footer-copyright">
			<p>&copy; 2024 PlantMee. Alle Rechte vorbehalten.</p>
		</div>
	</div>
	
</div>

