<section class="hero-section position-relative padding-small"
         style="background-image: url(images/banner-image-bg-1.jpg); background-size: cover; background-repeat: no-repeat; background-position: center;">
  <div class="hero-content">
    <div class="container">
      <div class="row">
        <div class="text-center">
          <h1>{{title}}</h1>
          <div class="breadcrumbs">
						<span class="item">
							<a href="index.html">Home</a>
						</span>
            > <span class="item text-decoration-underline">{{title}}</span>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-menu">
    <a href="warenkorb.html" class="hero-menu-item">Warenkorb</a>
    <a href="contact.html" class="hero-menu-item">Kontakt</a>
    <a href="about.html" class="hero-menu-item">Über Uns</a>
    <a href="index.html" class="hero-menu-item">PlantMee</a>
  </div>
</section>
